#{extends 'main.html' /}
#{set title:'message' /}
<!-- content -->
<nav>
    <ul id="menu">
        <li class="menu_active nav1"><a href="@{Application.home(u.id)}">Главная </a></li>
         #{if u.id==2 || u.id==4}
        <li class="nav3"><a href="@{Application.vacancyList(u.id)}">Вакансии</a></li>
        <li class="nav3"><a href="@{Application.userList(u.id)}">Пользователи</a></li>
        #{/if}

    </ul>
</nav>
<!-- content -->
<section id="content">
    <div id="w">


        <!--    public Form (Vacancy vac, String name, String desc, String check, String status)-->

        <form id="contactform" name="contact" method="post" action="#">

            
            <div class="row1" >                
                <label for="name">Дата: <br> ${mes.dateMess} </label>                 
                <label for="name">От кого: <br> ${mes.who.name} <span class="req"></span></label>     
            
            </div>
            
            <div class="row">
                <label for="name">Сообщение: <span class="req"></span></label>
                <label1 for="name">${mes.message} <span class="req"></span></label1>
            </div>
            
            #{if mes.form}
            #{if mes.statusMess != "прочитанно"}
            <div class="row">
                #{if mes.topic == "резюме"}
                <a href="@{Application.checkRes(u.id, mes.who.id, mes.form.id, mes.id)}">Проверить</a>
                #{/if}
                #{if mes.topic == "тест"}
                <h2><a href="@{Application.test(u.id)}" >Пройти тест</a></h2>
                #{/if}
            </div>
            #{/if}
#{/if}


            <HR WIDTH="80%" SIZE="3" COLOR="#8B8989">
            <br>


            #{form @Application.resp(u.id)}

            #{/form}

            #{form @Application.respons(u.id,mes.id, "Сообщение отправлено!")}
            
            <div class="row">
                <label for="name">Ответ: <span class="req"></span></label>
                <label1 for="name"><textarea name="ans" id="ans" class="txtarea" tabindex="4" ></textarea> <span class="req"></span></label1>
            </div>

            <div class="center">
                <input type="submit" id="submitbtn" name="more" tabindex="5" value="Ответить>>">
            </div>
            #{/form}

            

        </form>
    </div>


    <p></p>
    <p></p>
${u.email}
</section>

<!-- / content -->
